p{
    display: flex;
    background-color: #e2e2e2;
    text-align: center;
    margin: 20px;
}

.login {
    width: 500px;
    height: 500px;
    background-color: #e2e2e2;
    position: absolute;
  top: 15%;
  left: 15%;
  text-align: center;
}

input{
    width: 150px;
    height: 30px;
}